@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');
*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}

body{
    background: url(img/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    overflow:hidden;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
}

.container{
    padding: 20px 70px;
    color:white;
    background: rgba(24, 24, 27, 0.6);
}

.current-info{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.date-container .time{
    font-size: 70px;
    font-weight: 100;
}

.date-container #am-pm{
    font-size: 30px;
}

.date-container .date{
    font-size: 30px;
    font-weight: 100;
}

.place-container{
    text-align: end;
    padding-top: 20px;
}

.place-container .time-zone{
    font-size: 30px;
    font-weight: 100;
}

.place-container .country{
    font-size: 12px;
    font-weight: 300;
}

.current-info .others{
    font-weight: 100;
    display: flex;
    flex-direction: column;
    background-color: rgba(24, 24, 27, 0.6);
    padding: 20px;
    border-radius: 10px;
    margin: 10px;
    border: 1px solid white;
}

.current-info .others .weather-items{
    display: flex;
    justify-content: space-between;    
}

.input-container{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
}

.input-container .form-field{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    border: 12px solid white;
    width: 300px;
    border-radius: 50px;
}

#button-input{
    background: none;
    border: none;
    padding: 5px;
    cursor: pointer;
}

#city{
    font-family: 'Poppins', sans-serif;
    text-align: start;
    padding: 0 20px 0 20px;
    width: 250px;
    border: none;
    outline: none;
    background-color: white;
}

#city:focus{
    border: transparent;
    background-color: white;
}

.future-forecast{
    background: rgba(24, 24, 27, 0.8);
    padding: 20px;
    position: fixed;
    bottom: 0;
    display: flex;
    color: white;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.future-forecast .today{
    display: flex;
    align-items: center;
    padding: 50px 30px;
    margin: 0 10px;
    justify-content: center;
    border: 1px solid white;
    border-radius: 10px;
}

.future-forecast .today .day{
    padding: 5px 15px 20px 15px;
    background: #3c3c44;
    border-radius: 50px;
    text-align: center;
}

.future-forecast .today .weather{
    display: flex;
    font-size: 18px;
    align-items: center;
    justify-content: center;
}

.future-forecast .today .temp{
    font-size: 15px;
    padding: 10px 15px;
    text-align: center;
}

.future-forecast .weather-forecast{
    display: flex;    
}

.weather-forecast .weather-forecast-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
    border: 1px solid #eee;
    border-radius: 10px;
    padding: 15px;
}

.weather-forecast .weather-forecast-item .day{
    background: #3c3c44;
    padding: 5px 15px;
    border-radius: 50px;
    text-align: center;
}

.weather-forecast .weather-forecast-item .temp{
    font-weight: 100;
}

@media only screen and (max-width: 720px){    
    .future-forecast{
        justify-content: start;
        align-items: none;
        overflow-y: scroll;
    }
    
    .container{
        padding: 10px 20px;
    }

    .date-container .time{
        font-size: 50px;
    }

    .date-container #am-pm{
        font-size: 20px;
    }

    .date-container .date{
        font-size: 20px;
    }

    .current-info .others{
        font-size: 15px;
        margin-left: 0;
        padding: 10px 15px;
    }

    .place-container{
        text-align: end;
        margin-top: 15px
    }

    .place-container .time-zone{
        font-size: 20px;
    }
}

@media (max-height: 720px) {
    .input-container{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 15px;
    }

    .input-container .form-field{
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: white;
        border: 8px solid white;
        width: 300px;
        border-radius: 50px;
    }
}
@media (max-width: 1000px) {
    .future-forecast{
        justify-content: start;
        align-items: none;
        overflow-y: scroll;
    }
}